<header>
  <app-login-icon></app-login-icon>

  <!-- <h1 class="b">USTYLE</h1>
<nav>
  <a routerLink='/'>HOME</a> | <a routerLink='/roomlayout'>Room Layout</a> | 
  <a routerLink='/contact'>Contact Us</a> | <a routerLink='/reservation'>Reservation</a> |
</nav> -->


<div class="a0">
  <!-- <p class="t1">log in</p>
  <p class="t2">Contact Us</p>
  <p class="t3">180-000-0000</p> -->
</div>
<div class="a">
  <h1 class="b">USTYLE</h1>
  <nav class="c">
      <ul>
          <li><a routerLink='/'>HOME</a></li>
          <li><a routerLink='/roomlayout'>Room Layout</a></li>
          <li><a routerLink='/contact'>Contact Us</a></li>
          <li class="u-b"><a routerLink='/reservation'>Reservation</a></li>
          <!-- <li ><a routerLink='/'>Log In</a></li> -->
      </ul>
  </nav>
</div>

</header>
