<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
      <div>
          <label>
              First Name
              <input type="text" formControlName="firstName" name="firstname" required>
              <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                      Name is required
              </div> -->
              <div *ngIf="reservationForm.get('firstName').errors &&
                        (reservationForm.get('firstName').touched) || reservationForm.get('firstName').dirty">
                <div *ngIf="!!reservationForm.get('firstName').errors?.required">
                    First Name is required
                </div>
              </div>
          </label>
      </div>
      <div>
          <label>
              Last Name
              <input type="text" formControlName="lastName" name="lastname" required>
              <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                      Name is required
              </div> -->
              <div *ngIf="reservationForm.get('lastName').errors &&
                        (reservationForm.get('lastName').touched) || reservationForm.get('lastName').dirty">
                <div *ngIf="!!reservationForm.get('lastName').errors?.required">
                    Last Name is required
                </div>
              </div>
          </label>
      </div>
      <div>
        <label>
          Email
          <input type="text" formControlName="email" name="email" required>
          <!-- <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
                  Email is required
          </div> -->
          <div *ngIf="reservationForm.get('email').errors &&
                    (reservationForm.get('email').touched) || reservationForm.get('email').dirty">
            <div *ngIf="!!reservationForm.get('email').errors?.required">
                Email is required
            </div>
            <div *ngIf="!!reservationForm.get('email').errors?.email">
                Email is invalid
            </div>
          </div>
        </label>
      </div>
      <div>
          <label>
            Phone
              <input type="text" formControlName="phone" name="phone" required>
              <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                      Name is required
              </div> -->
              <div *ngIf="reservationForm.get('phone').errors &&
                        (reservationForm.get('phone').touched) || reservationForm.get('phone').dirty">
                <div *ngIf="!!reservationForm.get('phone').errors?.pattern">
                    Phone number is invalid
                </div>
              </div>
          </label>
      </div>

      <div>
        <label>
          Type Selection
          <select formControlName="types" required>
              <option [ngValue]="null">Choose an option</option>
              <option *ngFor="let type of types; let i = index" [ngValue]="type.name">
                {{type.name}}
              </option>
          </select>
            <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                    Name is required
            </div> -->
            <div *ngIf="reservationForm.get('types').errors &&
                      (reservationForm.get('types').touched) || reservationForm.get('types').dirty">
              <div *ngIf="!!reservationForm.get('types').errors?.required">
                  Please select your desired room type first
              </div>
            </div>
        </label>
      </div>

      <div *ngIf="hasFloorOption && (reservationForm.get('types').value != null)">
          <label>
            Floor Selection
            <select formControlName="floors" required>
                <option [ngValue]="null">Choose an option</option>
                <option *ngFor="let floor of floors; let i = index" [ngValue]="floor.name">
                  {{floor.name}}
                </option>
            </select>
              <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                      Name is required
              </div> -->
              <div *ngIf="reservationForm.get('floors').errors &&
                        (reservationForm.get('floors').touched) || reservationForm.get('floors').dirty">
                <div *ngIf="!!reservationForm.get('floors').errors?.required">
                    Please select your floor number
                </div>
              </div>
          </label>
      </div>

      <div *ngIf="!hasFloorOption && (reservationForm.get('types').value != null)">
        <p> value is : {{ reservationForm.get('types').value }}</p>
        <p>Please select a different room type as there is no available rooms for your current choice
          of type</p>
      </div>

      <div [hidden]="reservationForm.get('floors').value == null">
        <label>
          Room Selection
          <select formControlName="rooms" required>
              <option [ngValue]="null">Choose an option</option>
              <option *ngFor="let room of rooms; let i = index" [ngValue]="room.name">
                {{room.name}}
              </option>
          </select>
            <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                    Name is required
            </div> -->
            <div *ngIf="reservationForm.get('rooms').errors &&
                      (reservationForm.get('rooms').touched) || reservationForm.get('rooms').dirty">
              <div *ngIf="!!reservationForm.get('rooms').errors?.required">
                  Please select your room number
              </div>
            </div>
        </label>
      </div>
      <div>
        <label>
          Anything else you would like to add?
          <textarea rows="6" formControlName="message" name="message">
          <!-- <div [hidden]="Message.valid || Message.pristine" class="alert alert-danger">
                  Message is required
          </div> -->
          </textarea>
        </label>
      </div>
      <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
    </form>
</div>

