<!-- <div>
    <h6>Luxury Condos</h6>
    <h1>UStyle</h1>
    <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    <h1>YOUR NEW HOME AWAITS.</h1>
</div> -->




<div class="e">
    <div class="f">
        <div class="w">
                <p class="t1">Luxury Condos</p>
                <p class="t2">UStyle</p>
                <p class="t3">U-style Waterloo is a luxurious condominium designed by the world leading arachitect group IBL. 
                    U-Style Waterloo is designed for investors seeking leasing opportunities, 
                    students seeking high-quality housing and young entrepreneurs seeking property ownership</p>
        </div>

    </div>
    <div class="g">
            <div class="bgBorder fadein"></div>
        <div class="bg">
            <h1>YOUR NEW HOME AWAITS.</h1>
        </div>

    </div>
</div>
