
<div>
  <h6>Luxury Condos</h6>
  <h1>UStyle</h1>
  <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
  <h1>YOUR NEW HOME AWAITS.</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="name" name="name" placeholder="Name" required>
      <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
              Name is required
      </div> -->
      <div *ngIf="contactForm.get('name').errors &&
                (contactForm.get('name').touched) || contactForm.get('name').dirty">
        <div *ngIf="contactForm.get('name').errors?.required">
            Name is required
        </div>
      </div>
      
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="email" name="email" placeholder="Email" required>
      <!-- <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
              Email is required
      </div> -->
      <div *ngIf="contactForm.get('email').errors &&
                (contactForm.get('email').touched) || contactForm.get('email').dirty">
        <div *ngIf="contactForm.get('email').errors?.required">
            Email is required
        </div>
        <div *ngIf="contactForm.get('email').errors?.email">
            Email is invalid
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="message" name="message" placeholder="Message" required>
      <!-- <div [hidden]="Message.valid || Message.pristine" class="alert alert-danger">
              Message is required
      </div> -->
      <div *ngIf="contactForm.get('message').errors &&
                (contactForm.get('message').touched) || contactForm.get('message').dirty">
        <div *ngIf="contactForm.get('message').errors?.required">
            Messages can not be empty
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!contactForm.valid">Contact Us Now</button>
  </form>
</div>