<div class="wholeSignIn">
    <h3>Sign In</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="a b">
            <label>
                <p>User name</p>
                <input type="text" formControlName="userName" name="userName" required>
                <!-- Error message for empty user name field -->
                <div *ngIf="loginForm.get('userName').errors &&
                          (loginForm.get('userName').touched) || loginForm.get('userName').dirty">
                  <div *ngIf="loginForm.get('userName').errors?.required">
                    User Name is required
                  </div>
                </div>
            </label>
        </div>
        <div class="a">
            <label>
                <p>Password</p>
                <input type="password" formControlName="password" name="password" required>
                <!-- Error message for empty password field -->
                <div *ngIf="loginForm.get('password').errors &&
                          (loginForm.get('password').touched) || loginForm.get('password').dirty">
                  <div *ngIf="loginForm.get('password').errors?.required">
                    Password is required
                  </div>
                </div>
            </label>
        </div>
        <div *ngIf="showError">
          <p>
            {{ errMessage }}
          </p>
        </div>
        <button class="signInBtn" type="submit" [disabled]="!loginForm.valid">Sign In</button>
        <button class="signUpBtn" type="button" (click)="signup()">Click here to sign up</button>
      </form>
  </div>

