
<div class="wrap">
  <div class="l-d">
      <app-admin-nav *ngFor='let type of types' [type]='type' (selected)='onSelect($event)'></app-admin-nav>

  </div>
  <div class="r-d">
      <div *ngIf='selected'>
        <form [formGroup]='adminForm' (ngSubmit)='onSubmit()'>
          <p>Room: {{ selectedRoom }} Status:</p>
          <span class="type">Rented</span> <input type='radio' formControlName='rent' value='rented'><br>
          <span class="type">Unrented</span> <input type='radio' formControlName='rent' value='unrented'><br>
          <button type='submit' [disabled]='!adminForm.valid'>Update info</button>
        </form>
        <p *ngIf='showMsg'>{{ message }}</p>
      </div>
  </div>
</div>
