
<div class="container wholeSignIn">
    <h3>Sign Up</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <div class="form-group row a b">
          <label for="username" >User name</label>
          <!-- class="col-1 col-form-label" -->
          <!-- <div class="col-sm-8"> -->
            <input type="text" id="username" formControlName="userName" name="userName" class="form-control" required>
          <!-- </div> -->
          <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                  Name is required
          </div> -->
        </div>
        <div class="form-group row a">
          <label for="password" >Password</label>
          <!-- class="col-sm-2 col-form-label" -->
          <!-- <div class="col-sm-7"> -->
            <input type="password" id="password" formControlName="password" name="password" class="form-control" required>
          <!-- </div> -->
          <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                  Name is required
          </div> -->
        </div>
        <div class="form-group row a">
          <label for="email">Email</label>
          <!-- class="col-sm-1 col-form-label" -->
          <!-- <div class="col-sm-8"> -->
            <input type="email" id="email" formControlName="email" placeholder="Email" class="form-control" required>
          <!-- </div> -->
          <!-- <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
                  Email is required
          </div> -->
          <div *ngIf="signupForm.get('email').errors &&
                    (signupForm.get('email').touched) || signupForm.get('email').dirty">
            <div *ngIf="!!signupForm.get('email').errors?.required">
                Email is required
            </div>
            <div *ngIf="!!signupForm.get('email').errors?.email">
                Email is invalid
            </div>
          </div>
        </div>
        <div class="form-group row a">
          <label for="phone">Phone Number</label>
            <!-- <div class="col-sm-8"> -->
                <!-- class="col-sm-1 col-form-label" -->
              <input type="text" id="phone" formControlName="phoneNumber" name="phone" class="form-control" required>
            <!-- </div> -->
            <!-- <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                    Name is required
            </div> -->
        </div>
        <div class="form-group row a">
          <div >
              <!-- class="offset-sm-2 col-sm-10" -->
            <button  class="signInBtn" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            <button class="signUpBtn" type="button" (click)="signin()">Click here to sign in</button>
          </div>
        </div>

      </form>
  </div>

