<app-contact-form></app-contact-form>
<!-- <img class="img-1"> -->



<div class="h">
    <div class="w">
            <div class="i">
                    <p class="p1">It's all about U-Style</p>
                    <p class="p2">U-style</p>

                    <p class="p3">U-style Waterloo is a luxurious condominium designed by the world leading arachitect group IBL.</p>
                    <p class="p3">U-Style Waterloo is designd </p>
                    <p class="p3"></p>

                </div>
                <div class="j">
                    <div class="j1">
                            <p  class="p1">More Details</p>
                            <p  class="p2">Number of Units</p>
                            <p  class="p2">Size</p>
                            <p  class="p2">Total Floors/Stories</p>
                            <p  class="p2">Parking Spaces</p>
                            <p  class="p2">Year Built: 2018</p>

                    </div>
                    <div class="j2">
                            <p  class="p2">need info here</p>
                    </div>

                </div>
    </div>

</div>

<app-pic-roller></app-pic-roller>
