<app-contactform></app-contactform>
<!-- <img class="img-1"> -->



<div class="h">
    <div class="w">
            <div class="i">
                    <p class="p1">Luxury Condos</p>
                    <p class="p2">PROPERTY INFO‏</p>
                 
                    <p class="p3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    <p class="p3">Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    <p class="p3">This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
               
                </div>
                <div class="j">
                    <div class="j1">
                            <p  class="p1">More Details</p>
                            <p  class="p2">Number of Units</p>
                            <p  class="p2">Size</p>
                            <p  class="p2">Total Floors/Stories</p>
                            <p  class="p2">Parking Spaces</p>
                            <p  class="p2">Year Built</p>
                            
                    </div>
                    <div class="j2">
                            <p  class="p2">need info here</p>
                    </div>
                   
                </div>
    </div>
   
</div>
