<div *ngIf="!loggedIn" class="loginBtn">
    <button class="greBtn" (click)="login()">Log In</button>
</div>

<!-- <div *ngIf="loggedIn">
  User logged in!
  <button ></button>
  <button (click)="logout()"></button>
</div> -->


<div class="row loginBtn" *ngIf="loggedIn">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary greBtn" id="dropdownBasic1" ngbDropdownToggle>User</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropDownWhole">
        <button class="dropDownItem" ngbDropdownItem (click)="checkProfile()">My Account</button>
        <hr>
        <button class="dropDownItem" ngbDropdownItem (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>
</div>
