<app-contact-form></app-contact-form>

<div class="h">
    <div class="w">
        <div  class="i">
                <p class="p1">It's all about U-Style</p>
                <p class="p2">U-style</p>

                <p class="p3">U-style is located in the center of Waterloo's transportation systems.
                    With 4 major local bus routes passing in front of your doorsteps and GO bus stations to
                    Mississauga and York within 5 minutes of walk, U-Style ensures your convenience for traveling
                    in and out of town. The newly constructed ION light railway system connects Waterloo and Kitchener
                    to the  existing GO train routes, allowing you to reach Down Town Toronto or Pearson Airport within hours,
                    from whichm, opens up new pathways to all parts of the world.
                </p>
        </div>
        <div class="j">
                <p  class="p1">More Details</p>
                <p  class="p2">Number of Units:</p>
                <p  class="p2">Size:</p>
                <p  class="p2">Total Floors/Stories:</p>
                <p  class="p2">Parking Spaces:</p>
                <p  class="p2">Year Built: 2018:</p>
        </div>
    </div>
</div>

<div class="map">
    <img src="../../../assets/img/map.jpg"/>
<div>

<app-pic-roller><img src=""></app-pic-roller>


<div class="x">
  <div class="xw">
    <div class="ic0">
            <img class="ic" src="../../../assets/img/icon1.png">
            <h6>Free Reg</h6>
            <p>You can view all the type of room in roomlayout and do your
                free reservation on the reservation page.
            </p>
        </div>
        <div>
            <img class="line" src="../../../assets/img/line.png">
        </div>
        <div class="ic2">
            <img class="ic" src="../../../assets/img/icon2.png">
            <h6>Great Location</h6>
            <p>Go to University of Waterloo with in 5mins walk, beside Waterloo park
                , and esaily reach any bus station include Go bus!!!
            </p>
        </div>
    </div>
  </div>
</div>
