<head>
	<title>Contact Us</title>
</head>
<body >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="a">
			<h1>GET IN TOUCH</h1>
			<h4>we'd love to hear from you</h4>
			<!-- Add icon library -->

			<div class="b">
				<div class="c d">
					<img src="../../../../assets/img/icon-email.png">
					<p>Email: info@xxx.com</p>
				</div>
				<div class="c e">
						<img src="../../../../assets/img/icon-cell.png">
					<p>Tel: 123-456-7890</p>
					</div>
					<div class="c f">
							<img src="../../../../assets/img/icon-facebook.png">
							<p> Find us on Facebook </p>
							<!-- <a href="#" class="fa fa-facebook"></a> -->
						</div>

			</div>
	</div>
</body>
